
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Ajouter Utilisateur</h5></div>
        <div class=" card-body">
          <form (ngSubmit)="saveUtilisateur()">             
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nom </label>
                  <input
                    class=" form-control"
                    placeholder="Nom"
                    type="text"
                    [(ngModel)]="user.nomUtilisateur"
                    name="nomUtilisateur"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Prénom </label>
                  <input
                    class=" form-control"
                    placeholder="Prénom"
                    type="text"
                    [(ngModel)]="user.prenomUtilisateur" 
                    name="prenomUtilisateur"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <input type="radio" name="sexe" [(ngModel)]="user.sexe" value="homme">Homme
                &nbsp;
                <input type="radio" name="sexe" [(ngModel)]="user.sexe" value="femme">Femme

              </div>
              <div class=" col-md-6 pr-md-1">
                <label>Statut</label>
                <input type="checkbox" name="enabled" [(ngModel)]="user.enabled">
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
  <div class=" row">
    <div class=" card-body">
      <div class=" table-responsive">
        <table class=" table tablesorter" id="">
          <thead class=" text-primary">
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Sexe</th>
              <th>Statut</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of users">
              <td>{{u.nomUtilisateur}}</td>
              <td>{{u.prenomUtilisateur}}</td>
              <td>{{u.sexe}}</td>
              <td>{{u.enabled}}</td>
              <td><button class=" btn btn-fill btn-danger" (click)="deleteUtilisateur(u)">Delete</button>
                <button class=" btn btn-fill btn-danger" (click)="editUser(u.idUtilisateur)">Edit</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
