
<div class=" content">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Ajouter Produit</h5></div>
          <div class=" card-body">
            <form (ngSubmit)="saveProduit()">             
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Code Produit </label>
                    <input
                      class=" form-control"
                      placeholder="Code Produit"
                      type="text"
                      [(ngModel)]="produit.codeProduit"
                      name="codeProduit"
                    />
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label> Libellé </label>
                    <input
                      class=" form-control"
                      placeholder="Libellé"
                      type="text"
                      [(ngModel)]="produit.libelle" 
                      name="libelle"
                    />
                  </div>
                </div>
              </div>
              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
    <div class=" row">
      <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Code Produit</th>
                <th>Libellé</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of produits">
                <td>{{p.codeProduit}}</td>
                <td>{{p.libelle}}</td>
                <td><button class=" btn btn-fill btn-danger" (click)="deleteProduit(p)">Delete</button>
                  <button class=" btn btn-fill btn-danger" (click)="editProduit(p.idProduit)">Edit</button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  